<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="cat $(find romeo_description)/urdf/romeo_generated_urdf/romeo.urdf"/>

  <node name="sample1" pkg="pg_optimization" type="sample1" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pg_optimization)/launch/sample1.rviz"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
