<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="cat $(find romeo_description)/urdf/romeo_generated_urdf/romeo.urdf"/>

  <node name="sample3" pkg="motion_optimization" type="sample3" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find motion_optimization)/launch/sample3.rviz"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
