<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="cat $(find romeo_description)/urdf/romeo_generated_urdf/romeo.urdf"/>

  <node name="simulation" pkg="basis-test" type="simulation" output="screen"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find basis-test)/launch/RBDyn/simulation.rviz"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
</launch>
