<launch>
    <param name="robot_description" command="cat $(find romeo_description)/urdf/romeo_generated_urdf/romeo.urdf"/>
    <node name="sample1" pkg="posture_optimization" type="sample1" output="screen" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>

    <node name="$(anon rviz)"  pkg="rviz" type="rviz" respawn="false" 
        args="-d $(find posture_optimization)/launch/sample.rviz" output="screen">
    </node>
</launch>
